* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	background-color: blue;
	text-align: center;
}

td {
	height: 200px;
	width: 200px;
	border: 2px solid black;
	
}
table {
	background-color: white;
	border-collapse: collapse;
	margin: auto;
}
.playedX {
	text-align: center;
	font-size: 5em;
	background-color: #AD758F

}
.playedO{
	text-align: center;
	font-size: 5em ;
	background-color: #31f198
}